$color: #000;
$bg-color: #ccc;

.container {
  color: $color;
  text-align: center;
  width: 100%;
  background-color: $bg-color;
  padding: 120px 20%;
  font-family: 'Roboto Slab', serif;

  @media screen and (max-width: 990px) {
    padding: 120px 10%;
  }
}

.project_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
