$color: #333;
$bg-color: #fff;

.container {
  color: $color;
  text-align: center;
  width: 100%;
  background-color: $bg-color;
  padding: 120px 20%;
  font-family: 'Roboto Slab', serif;
}

.project_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
