.header_container {
  height: inherit;
  background: rgba(0, 0, 0, .4);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 100vh;
  width: 100%;
}

.p {
  text-align: center;
  font: 400 24px 'Raleway', sans-serif;
}

.bold {
  font-weight:  700;
  font-size: 28px;
}
