.title {
  font-weight: 700;
}

.description {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 60px;
}

.line {
  height: 1px;
  background-color: black;
  margin: 40px auto;
  padding: 0;
  width: 100%;
}
