@import './src/width';

.title {
  font-weight: 500;
  font-size: 40px;
}

.description {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 60px;

  @media screen and (max-width: $medium) {
    font-size: 18px;
    margin: 2vh;
    text-align: justify;
  }

  @media screen and (max-width: $small) {
    font-size: 16px;
  }
}

.title, .description {
  font-family: Inter, sans-serif;
}

.line {
  height: 1px;
  background-color: rgba(0, 0, 0, .3);
  margin: 40px auto;
  padding: 0;
  width: 100%;

  @media screen and (max-width: $medium) {
    margin: 15px auto;
  }
}
