@import '../../width';
$react-line-size: 50px;

.container {
  width: 100%;
  background-color: #222;
  padding: 5vh 20% 1vh;
  text-align: center;
  color: #fff;

  @media only screen and (max-width: $medium) {
    padding: 20px 0;
  }
}

.icon_container {
  display: flex;
  justify-content: center;

  & a {
    margin: 0 10px;
  }

  & a:first-child {
    margin-left: 0;
  }

  & a:last-child {
    margin-right: 0;
  }
}

.icon {
  font-size: 34px;
  color: #fff;
  transition: transform .1s linear;

  &:hover {
    transform: scale(1.2);
  }
}

.withLogo {
  display: flex;
  justify-content: center;
  margin: 5px auto;

  .text {
    display: inline-block;
    height: $react-line-size;
    line-height: $react-line-size;
  }

  .logo {
    display: inline-block;
    width: $react-line-size;
    height: $react-line-size;

    @media (prefers-reduced-motion: no-preference) {
      animation-name: rotate-animation;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 5s;
    }
  }
}

@keyframes rotate-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}